<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>593450472581-260eo1obj7gtvbidovll1asj6ftqd456.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593450472581-260eo1obj7gtvbidovll1asj6ftqd456</string>
	<key>API_KEY</key>
	<string>AIzaSyBOAUEE_bXX1BioyJX3z257F5wfAaWyEAU</string>
	<key>GCM_SENDER_ID</key>
	<string>593450472581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pearce.rick.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-91b20</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-91b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593450472581:ios:40eb7d6436f7bc76</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-91b20.firebaseio.com</string>
</dict>
</plist>